<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Podcast</title>
  <link rel="alternate" type="application/rss+xml" title="Podcast" href="http://localhost/podcast">
</head>
<body>
  <h1>The podcast</h1>
  <a href="pcast://{{ .host }}/podcast.rss">pcast</a>
  <br>
  <a href="feed://{{ .host }}/podcast.rss">Click here for happy podcasts 🎧</a>
  <br>
  <a href="http://{{ .host }}/podcast.rss">Regular podcast link</a>
</body>
</html>